{% include 'polls/navbar.html' %}
<div class="container">
<div class="container-fluid text-center p-3">
    <span>
      <i class="fa-sharp fa-solid fa-chart-line fa-2xl"></i>
      <h1>Accounts Dashbaord</h1>
    </span>
</div>
<div class="container">
    <p>{{date}}</p>
    <p class="text-uppercase">Welcome To Dashbaord</p>
</div>
<div class="container">
<div class="container p-2">
    <p class="text-uppercase">Checking & Savings</p>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <i class="fa-solid fa-wallet fa-2xl"></i>
          <a href="{% url 'accountactivity_view' %}" class="card-link">$ {{balance_amount.balance}}</a>
        </div>
      </div>
      <div class="container p-3">
      <nav class="nav nav-pills nav-fill">
          <a class="nav-item nav-link" href="{% url 'request_view' %}"> <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
          <span><h3>Request Money</h3></span>
          </a>
        <a class="nav-item nav-link" href="{% url 'sendmoney_view' %}"><i class="fa-solid fa-comments-dollar fa-2xl"></i><span><h3>Send Money</h3></span></a>
        <a class="nav-item nav-link" href="{% url 'splitbill_view' %}"><i class="fa-sharp fa-solid fa-arrows-split-up-and-left fa-2xl"></i><span><h3>Split Bill</h3></span></a>
      </nav>
      </div>
</div>
</div>